body {
    background-color: pink;
    margin: 0;
    padding: 0;
    min-width: 800px;
    font-family: 'Georgia', serif;
    font-size: 18px;
}

.container {
    display: flex;
    min-height: 100vh;
    overflow: auto;
}

.photo-column {
    width: 100%;
    background-color: pink;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-right-style: solid;
    border-right-color: rgb(226, 37, 160);
    border-width: medium;
    display: flex;
    flex-direction: column;
    position: static;
    gap: 15px;
}

.content {
    background-color: #fff0f5;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    float: none;
    clear: left;
}

h1 {
    color: rgb(226, 37, 160);
    text-align: center;
    margin-bottom: 20px;
    border-style: none;
    font-size: 2.5em;
    font-weight: 800;
}

h3 {
    color: rgb(226, 37, 160);
    margin-top: 20px;
    padding-left: 10px;
    border-left-style: dashed;
    border-left-color: purple;
    font-size: 1.8em;
    font-weight: 700;
}

h4 {
    color: rgb(226, 37, 160);
    font-style: initial;
    line-height: 1.8;
    font-size: 1.5em;
    font-weight: 600;
}

h6 {
    color: rgb(226, 37, 160);
    font-weight: bolder;
    line-height: normal;
     font-size: 1.2em;
    font-weight: 600;
}

p {
    line-height: 1.6;
    color: purple;
    vertical-align: baseline;
    font-size: 1.1em;
    font-weight: 500;
}

hr {
    border-top-width: thin;
    border-style: solid;
    border-color: purple;
    margin-top: 15px;
    margin-bottom: 15px;
}

.photo-column img {
    width: 100%;
    height: auto;
    border-style: outset;
    border-color: rgb(226, 37, 160);
    margin-bottom: 15px;
    outline-style: solid;
    outline-color: purple;
}

.photo-column img:first-child {
    border-right-style: inset;
    background-color: #ffe0f0;
}

.photo-column img:last-child {
    border-bottom-width: thick;
}

a {
    color: rgb(226, 37, 160);
    text-decoration: none;
    font-style: italic;
    font-size: 1.1em;
    font-weight: 500;
    font-weight:bolder;
}

a:hover {
    background-color: #f17298;
    padding-left: 5px;
}

ul {
    list-style-position: inside;
    padding-left: 20px;
}

ul li {
    color: rgb(226, 37, 160);
    margin-bottom: 8px;
    vertical-align: sub;
    font-size: 1.1em;
    font-weight: 500;
}

i {
    font-style: italic;
    color: rgb(180, 30, 130);
    font-size: 1.1em;
    font-weight: 500;
    font-weight:bolder;
}

h6[dir="ltr"] {
    direction: ltr;
    unicode-bidi: bidi-override;
}

.content div:empty {
    display: none;
    visibility: collapse;
}

form[name="news_form"] {
    background-color: #ffe0f0;
    
    border: 2px dashed purple;
    padding: 15px;
}

form fieldset {
    border-color: rgb(226, 37, 160); 
    border-style: solid;
    border-width: thin;
    padding: 15px; 
}

form legend {
    color: rgb(226, 37, 160); 
    font-weight: 700;
    padding: 0 10px;
}

form label {
    color: rgb(180, 30, 130);
    font-weight: 600;
    display: block; 
    margin-top: 10px;
}

form input[type="text"],
form textarea,
form select { 
    width: 95%;
    padding: 8px;
    border: 1px solid purple;
    box-sizing: border-box; 
    margin-top: 5px;
    font-size: 1em;
}

form input[type="text"] {
    margin-bottom: 15px;
}

form select {
    margin-bottom: 15px; 
    height: 38px; 
    font-family: 'Georgia', serif;
}

form textarea {
    height: 150px;
    margin-bottom: 20px;
    resize: vertical; 
    font-family: 'Georgia', serif;
}

form input[type="checkbox"] {
    width: auto;
    margin-right: 5px;
}

form button {
    background-color: rgb(226, 37, 160);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 1.0em;
    font-weight: 700;
    margin-right: 10px;
    transition: background-color 0.3s;
    border-radius: 5px;
}

form button:hover {
    background-color: purple; 
}